<div class="cart--item-list-container">
  <ul class="item-list cart--item-list">
    <li *ngFor="let product of cart">
      <img
        class="cart--item-icon"
        src="{{ 'assets/icons/' + product.id + '.svg' }}"
        alt="product.name"
      />
      <p>{{ product.name }}</p>
      <button
        class="quantity-btn remove-btn center"
        (click)="updateCart(product.id, -1)"
      >
        -
      </button>
      <span class="quantity-text center">{{ product.quantity }}</span>
      <button
        class="quantity-btn add-btn center"
        (click)="updateCart(product.id, 1)"
      >
        +
      </button>
    </li>
  </ul>
</div>
